@use 'Library';
.footer {
    background-color: rgb(104, 96, 85);
    color: Library.$color3;
    text-align: center;
    padding: 20px 0;
    font-family: Library.$number-font;
    
    margin-top: 50px;
}

.footernav, .footercontact {
    margin-bottom: 15px;
}

.footerlinks {
    padding: 5px;
    text-decoration: underline;
    text-underline-offset: 7px;
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
}

.footerlinks li {
    margin: 0 10px;
}

.footerlinks a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footerlinks a:hover {
    color: Library.$color6;
}

.footercontact p {
    margin: 5px 0;
}

.footerbottom {
    margin-top: 15px;
   padding-top: 10px;
}
.footerhr{
    max-width: 1200px;

}

@media (max-width: 768px) {
    .footerlinks {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footerlinks li {
        margin-bottom: 10px;
    }
}