@use 'Library';
.footer {
    background-color: Library.$color6;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 50px;
}

.footer-nav, .footer-contact {
    margin-bottom: 15px;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f39c12;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 15px;
    border-top: 1px solid #34495e;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer-links li {
        margin-bottom: 10px;
    }
}