$color1: rgb(237, 237, 233);
$color2: rgb(233, 226, 220);
$color3: rgb(243, 239, 234);
$color4: rgb(233, 223, 216);
$color5: rgb(243, 233, 226);
$color6: rgb(173, 136, 99);
$color7:  rgba(218, 179, 106, 0.685);
$color8:  rgba(218, 179, 106, 1);
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
$main-header-font: 'Poppins', sans-serif;
$text-font: 'Dosis', sans-serif;
$header-font: 'Playfair Display', serif;
$number-font: 'Roboto', sans-serif;
$button-font: 'Nunito', sans-serif;