@use 'Library';
.main-navbar-div {
    z-index: 5;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    overflow: hidden; /* Clears floats */
    padding-bottom: 10px;;
    background-color: rgba(Library.$color1,0.1);
    
}

.nav-links {
    margin-right: 20px;;
    float: right;
    display: flex;
    list-style-type: none; /* Remove default list styling */


}

.nav-link {
    margin: 0 15px; /* Spacing between each link */
}

.nav-link a {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    text-transform: uppercase;
    text-decoration: none; /* Remove underline from links */
   
    color: #ffffff; /* Dark color for the text */
 /* Make the font bold */
    font-size: 20px; /* Set a standard font size */
    transition: color 0.7s ease; /* Smooth transition for hover effect */
    
}

.nav-link a:hover {
    color: rgb(240, 195, 137); /* Change color on hover */

    border-bottom: 1px solid #7f8c8d; /* Add a bottom border on hover */
    padding-bottom: 5px; /* Space between text and border */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .nav-links {
        font-size: 10px;
    }

    .nav-link {
        margin: 10px 0; /* Adjust spacing for stacked layout */
    }
    .nav-link a{
        padding: 10px;
        font-size: 15px;    
    }
}