@use 'Library';
Link{
    text-decoration: none;

}
.mainnavbardiv {
    z-index: 5;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    overflow: hidden; /* Clears floats */
    padding-bottom: 15px;;
    background-color: white;
    display: flex;
    
    
}
.wycena{
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid rgb(71, 8, 8);
    color: rgb(71, 8, 8);   
    margin-left: 80px;
    font-family: Library.$number-font;
    font-weight: 600;
}


.phonenumber{
    color: white;
    background-color: #3a3a3a;
    height: 50px;
    float: right;
    padding-right: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 100px;
    width: 20%;

}
.phonenumber a{
    font-family: Library.$number-font;
 
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.phoneicon{
    margin-top: 3px;
    height: 30px;
    margin: auto;
    padding-left: 10px;
}
.navlinks {
    padding-right: 100px;;
    float: right;
    display: flex;
    justify-content: end;
    width: 100%;
    
    list-style-type: none; /* Remove default list styling */
    margin: auto;
    
    margin-left: 00px;
}

.navlink {
   
    width: 100%;
    padding-right: 20px;
    text-align: center;
    
    margin: auto;
    margin-right: 15px;; /* Spacing between each link */
}

.navlink a {
    text-transform: uppercase;
    text-decoration: none; /* Remove underline from links */
   
    color: #747474; /* Dark color for the text */
 /* Make the font bold */
    font-size: 16px; /* Set a standard font size */
    transition: color 0.7s ease; /* Smooth transition for hover effect */
    
}

.navlink a:hover {
    color: rgb(179, 134, 75); /* Change color on hover */

    border-bottom: 1px solid #7f8c8d; /* Add a bottom border on hover */
    padding-bottom: 5px; /* Space between text and border */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .navlinks {
        font-size: 10px;
    }

    .navlink {
        margin: 10px 0; /* Adjust spacing for stacked layout */
    }
    .navlink a{
        padding: 10px;
        font-size: 15px;    
    }
}
.logo{
    max-height: 49px;
    margin-left: 50px;;
}